# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python Testing
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Build & Distribution
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Streamlit
# -------------------------
.streamlit/secrets.toml

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.bak
*.swp